.card {
  position: relative;
  display: block;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    text-align: center;
    border: var(--layout-border);
    border-radius: var(--layout-border-radius);
    padding: var(--layout-gutter-sm);

    transform-origin: center center;
    transition: transform 150ms ease-in-out 0s;
    will-change: transform;

    &__image {
      position: relative;
      overflow: hidden;
      display: block;
      border: var(--layout-border);
      border-radius: var(--layout-border-radius-sm);
      aspect-ratio: 600/500;
      margin-bottom: var(--layout-gutter-sm);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      margin-bottom: var(--layout-gutter);
    }

    &__subtitle {
      margin-top: auto;
    }
  }

  &--placeholder {
    .card__content {
      position: relative;
      overflow: hidden;
      border: var(--layout-border-dashed);
      color: var(--color-gray);

      .card__content__image {
        border-color: var(--color-light-gray);
        background-color: var(--color-light-gray);
      }
    }
  }

  &:not(.card--placeholder) {
    &:hover .card__content {
      transform: scale(1.02);
    }

    .card__content__image {
      background-image: var(--fpo-plane-url);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
