@use "../mixins/flight-paths" as *;

.plane {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 122px;
  height: 112px;

  @for $i from 1 through 12 {
    &--#{$i}-oclock {
      offset-path: map-get($flight-paths, $i);
      offset-anchor: map-get($offset-anchor, $i);
      transform: map-get($transform, $i);
      top: map-get($top, $i);
      left: map-get($left, $i);
      animation: map-get($timing-function, $i) backwards;
      animation-name: move;
      animation-delay: 3s;
    }
  }
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }

  100% {
    offset-distance: 100%;
  }
}
