.title-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;

  margin-bottom: 50vh;

  &__content {
    position: relative;
  }
}