---
import { asText } from '@prismicio/client';
import { PrismicHtml } from '..';
import '../../styles/components/slices/cta.scss';

const {
  headline,
  description,
  featured_link,
  link_label
} = Astro.props;
---

<section class="cta container">
  {!!featured_link?.url?.length && (
    <a href={featured_link.url} class="cta__wrapper card">

      <div class="cta__content">
        {!!headline?.length && (
          <h2 class="cta__title text-4">
            {asText(headline)}
          </h2>
        )}
        {!!description?.length && (
          <div class="cta__desc">
            <PrismicHtml html={description} />
          </div>
        )}
      </div>

      <p class="cta__label">
        <strong class="text-2 btn">{link_label}</strong>
      </p>
    </a>
  )}
</section>