---
import { asText } from '@prismicio/client';
import { PrismicHtml } from '..';
import '../../styles/components/slices/cta.scss';

const {
  headline,
  description,
  featured_link,
  link_label
} = Astro.props;
---

<section class="cta container">
  {!!headline?.length && (
    <h2 class="text__title text-5">
      {asText(headline)}
    </h2>
  )}

  {!!description?.length && (
    <div class="cta__content">
      <PrismicHtml html={description} />
    </div>
  )}

  {!!link_label?.length && !!featured_link?.url?.length && (
    <a href={featured_link.url} class="cta__link">
      {link_label}
    </a>
  )}
</section>