---
import { asText } from '@prismicio/client';
import { Image } from 'astro:assets';
import '../../styles/components/slices/hero-image.scss';

const {
  headline = [],
  bg_overlay = false,
  background_image = {},
} = Astro.props;
---

<section
  class:list={['hero-image', {
    'hero-image--overlay': bg_overlay,
  }]}
>
  <div class="hero-image__bg">
    {!!background_image?.url?.length && (
      <Image
        src={background_image.url}
        alt={background_image.alt || ''}
        width={background_image.dimensions.width}
        height={background_image.dimensions.height}
        widths={[240, 540, 720, 2200]}
        sizes="(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, 2200px"
        loading="eager"
      />
    )}
  </div>

  <h1 class="hero-image__title container--lg text-6">
    {asText(headline)}
  </h1>
</section>