---
import { PrismicHtml } from '..';
import '../../styles/components/slices/hero-simple.scss';

const { headline, description } = Astro.props;
---

<section class="hero-simple container--lg">
  <div class="hero-simple__title text-5">
    <PrismicHtml html={headline} />
  </div>

  {!!description.length && (
    <div class="hero-simple__desc">
      <PrismicHtml html={description} />
    </div>
  )}
</section>