---
import { PrismicHtml } from '..';
import '../../styles/components/slices/hero-simple.scss';

const { headline, description } = Astro.props;
const hasText = !!description?.length;
---

<section class="hero-simple container--lg">
  <div
    class:list={['hero-simple__title', {
      'text-5': hasText,
      'text-6': !hasText
    }]}
  >
    <PrismicHtml html={headline} />
  </div>

  {hasText && (
    <div class="hero-simple__desc richtext">
      <PrismicHtml html={description} />
    </div>
  )}
</section>