---
import { asText } from '@prismicio/client';
import { PrismicHtml } from '..';
import '../../styles/components/slices/text.scss';

const { headline, text } = Astro.props;
---

<section class="text">
  {!!headline?.length && (
    <div class="container--lg">
      <h2 class="text__title text-4">
        {asText(headline)}
      </h2>
    </div>
  )}

  {!!text.length && (
    <div class="text__content richtext container--sm">
      <PrismicHtml html={text} />
    </div>
  )}
</section>