@use "../mixins/breakpoints" as *;

#homepage {
  section {
    position: relative;
    min-height: 100vh;

    h2 {
      text-align: center;
    }

    &#date {
      text-align: center;
    }

    &#events {
      .list {
        padding: 70px 0 330px;

        &--featured-events {
          .event__desc {
            text-align: center;
            margin-inline: auto;

            h3 {
              margin-bottom: var(--layout-gutter-sm);
            }
          }
        }

        &--participants {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: var(--layout-gutter);

          li {
            flex: 1 1 100%;

            @include media-breakpoint-up(sm) {
              max-width: calc((100% - var(--layout-gutter)) / 2);
            }

            @include media-breakpoint-up(lg) {
              max-width: calc((100% - (var(--layout-gutter) * 2)) / 3);
            }
          }
        }
      }
    }
  }
}
