@use "./variables/colors" as colors;
@use "./variables/layout" as layout;

@import "./base/reset";
@import "./base/utilities";
@import "./base/typography";

:root {
  --color-white: #{colors.$white};
  --color-black: #{colors.$black};
}

html {
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 100%;
}

body {
  min-height: 100vh;
  @include text-regular;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 layout.$gutter;
}
