
@use "../../mixins/breakpoints" as *;

.cta {
  display: flex;
  flex-direction: column;
  gap: var(--layout-spacing);
  align-items: center;
  text-align: center;
  padding-top: var(--layout-spacing-lg);
  padding-bottom: var(--layout-spacing-lg);

  @include media-breakpoint-up(md) {
    gap: var(--layout-gutter);
    flex-direction: row;
  }

  &__content,
  &__link {
    flex: 1;
  }

  h2 {
    margin-bottom: var(--layout-gutter);
  }
}