@use "../../mixins/breakpoints" as *;

.hero-simple {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gutter);
  padding-top: var(--layout-spacing-lg);
  padding-bottom: var(--layout-spacing-lg);

  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: center;
  }

  &__title {
    flex: 1.7;

    * {
      font-size: inherit;
      margin-bottom: 0;
    }
  }

  &__desc {
    flex: 1;
    text-wrap: balance;
    text-wrap: pretty;
  }
}
