.text {
  padding-top: var(--layout-spacing);
  padding-bottom: var(--layout-spacing);

  &__title {
    // text-align: center;
  }

  &__content {
    text-wrap: balance;
    text-wrap: pretty;

    & > * + * {
      margin-top: var(--layout-spacing-xs);
    }

    img {
      display: block;
      width: max(70%, 320px);
      height: auto;
      margin: var(--layout-spacing-sm) auto;
    }
  }
}
