.text {
  text-align: justify;
  padding-top: var(--layout-spacing);
  padding-bottom: var(--layout-spacing);

  &__content {
    padding-top: var(--layout-spacing);

    img {
      display: block;
      width: 70%;
      height: auto;
      margin: var(--layout-spacing-sm) auto;
    }
  }
}
