.text-with-image {
  padding-top: var(--layout-spacing);
  padding-bottom: var(--layout-spacing);

  &__title {
    text-align: center;
  }
  
  &__content {
    text-align: justify;
    padding-top: var(--layout-spacing);
  }
}