---
import Layout from "../layouts/Layout.astro";
import { fetchSingleDocumentByType } from "../lib/prismic/queries";

const { data } = await fetchSingleDocumentByType({ type: "homepage" }) || {};
---

<Layout>
	<h1>Welcome to Astro</h1>
	<p>
		This is a simple example of an Astro and Prismic site.
	</p>
</Layout>