---
import { fetchSingleDocumentByType } from "../lib/prismic/queries";
import TitleCard from "../components/TitleCard.astro";
import Layout from "../layouts/Layout.astro";

const { data } = await fetchSingleDocumentByType({ type: "homepage" }) || {};

const {
	title_cards = [],
	events_headline,
	featured_events = [],
	how_headline,
	instructions = [],
	event_data,
	results_headline,
	results_desc
} = data;
---

<Layout>
	<h1 class="sr-only">Paper Plane Olymics</h1>
	
	{title_cards.map(({ rich_text }) => (
		<TitleCard text={rich_text} />
	))}
</Layout>