:root {
  --layout-border: 3px solid var(--color-black);
  --layout-border-dashed: 5px dashed var(--color-light-gray);
  --layout-border-radius-sm: 8px;
  --layout-border-radius: 15px;

  --layout-gutter-sm: 15px;
  --layout-gutter: 30px;
}
