:root {
  --layout-border: 3px solid var(--color-black);
  --layout-border-dashed: 5px dashed var(--color-light-gray);
  --layout-border-radius-sm: 8px;
  --layout-border-radius: 15px;

  --layout-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);

  --layout-gutter-sm: 15px;
  --layout-gutter: 30px;

  --layout-spacing-xxs: 10px;
  --layout-spacing-xs: 20px;
  --layout-spacing-sm: 45px;
  --layout-spacing: 70px;
  --layout-spacing-lg: 140px;
  --layout-spacing-xl: 225px;
  --layout-spacing-xxl: 330px;

  --layout-pilot-photo-aspect-ratio: 600/500;
}
