---
import { Image } from 'astro:assets';
import plane from '../../public/images/plane.svg';
import '../styles/components/planes.scss';

const { showPlaneNumbers = [] } = Astro.props;
---

{showPlaneNumbers.map((num) => (
  <div class={`plane plane--${num}-oclock`}>
    <Image
      src={plane}
      width={122}
      height={112}
      alt="a paper plane graphic"
    />
  </div>
))