---
import { asHTML } from '@prismicio/client';

const { html } = Astro.props;
const content = asHTML(html) || '';

// TODO: make external links accessible (add <span class="sr-only">Opens in new tab</span>)
---

{!!content.length && (
  <Fragment set:html={content} />
)}