---
import { Planes, PrismicHtml } from '.';
import '../styles/components/title-card.scss';

const { text, animation = 'None' } = Astro.props;
---

<div class="title-card">
  <div class="title-card__content">
    <PrismicHtml html={text} />
    <slot />
  </div>
</div>

{animation === 'Planes' && (
  <div class="title-card__planes">
    <Planes showPlaneNumbers={[12, 1, 2, 4, 7, 9, 11]} />
  </div>
)}