---
import PrismicHtml from '../components/PrismicHtml.astro';
import Planes from '../components/Planes.astro';
import '../styles/components/title-card.scss';

const { text } = Astro.props;
---

<section class="title-card">
  <Planes showPlaneNumbers={[12, 1, 2, 4, 7, 9, 11]} />

  <div class="title-card__content">
    <PrismicHtml html={text} />
  </div>
</section>