---
import { fetchSingleDocumentByType } from '../lib/prismic/queries';
import { Footer, SEO } from '../components';
import '../styles/global.scss';

const { data: pageData } = await fetchSingleDocumentByType({ type: 'global_settings' }) || {};
const { data: footerData } = await fetchSingleDocumentByType({ type: 'global_navigation' }) || {};

const { title, seoImage, seoDesc, id, class: className } = Astro.props;

const {
	seo_default_title: pageDefaultTitle,
	seo_default_desc: seoDefaultDesc,
	seo_default_image: seoDefaultImage,
	theme_secondary_color: secondaryColor
} = pageData;

const { footer_desc: footerDesc } = footerData;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<SEO
			title={ title + ' | Paper Plane Olymics' || pageDefaultTitle || 'Paper Plane Olympics'}
			description={seoDesc || seoDefaultDesc}
			image={seoImage || seoDefaultImage}
		/>
	</head>
	<body>
		<main id={id} class={className}>
			<slot />
		</main>
		<Footer description={footerDesc} />
	</body>
</html>
