html {
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 0.9643rem + 0.1786vi, 1.125rem);
  @include text-regular;

  & > * {
    width: 100%;
  }
}

p {
  margin-bottom: var(--layout-spacing-xs);
}

a {
  color: inherit;
  text-decoration: none;
  transition: 150ms ease-in-out;
  transition-property: color, text-decoration-color;

  &:not(.card) {
    @include text-bold;
    text-decoration: underline;
    text-decoration-color: transparent;

    &:hover {
      color: var(--color-gray);
      text-decoration-color: var(--color-gray);
    }
  }
}

@mixin container {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: var(--layout-gutter);
}

.container {
  @include container;

  &--sm {
    @include container;
    max-width: 650px;
  }

  &--lg {
    @include container;
    max-width: 1200px;
  }
}
