h1,
h2,
h3 {
  margin-bottom: var(--layout-spacing-sm);
}

h2 {
  font-size: var(--step-7);
}

h3 {
  font-size: var(--step-6);
}

h4 {
  font-size: var(--step-5);
}

@for $i from -2 through 7 {
  .text-#{$i} {
    font-size: var(--step-#{$i});
  }
}

.richtext {

  img {
    border-radius: var(--layout-border-radius-sm);
  }
}
