h1,
h2,
h3 {
  margin-bottom: var(--layout-spacing-sm);
}

h2 {
  font-size: var(--step-7);
}

h3 {
  font-size: var(--step-6);
}

h4 {
  font-size: var(--step-5);
}

@for $i from -2 through 7 {
  .text-#{$i} {
    font-size: var(--step-#{$i});
  }
}

.richtext {

  & > * + * {
    margin-top: var(--layout-spacing-xs);
  }

  h2, h3, h4, h5, h6 {
    margin-top: var(--layout-spacing-sm);
    margin-bottom: 0;
  }

  h2, h3 {
    font-size: var(--step-3);
  }

  h4 {
    font-size: var(--step-2);
  }

  h5 {
    font-size: var(--step-1);
  }

  h6 {
    font-size: var(--step-0);
  }

  img {
    border-radius: var(--layout-border-radius-sm);
  }
}
